*{
		font-family: verdana;
		margin:0;
		padding: 0;

	}

	body {
	
		background-color: whitesmoke;


   		}

   	a:hover{
   		cursor: pointer;
   	}
   	.header{

   		width:100%;
   		background-color: #fff;
		position:fixed;
		top:0;
		
   	}

   	.headerlinks {
   		
   		display: flex;
		justify-content: space-around;

   	}

   	.headerlinks a{
	text-decoration: none;
	padding: 10px;
	color: purple;

	
}

.headerlinks a:visited{
	text-decoration: none;
	color: purple;
}

.headerlinks a:hover{
	background-color: #555;
	color: orange;
	cursor:pointer;
	font-size: 104%;
	border: 1px solid #03089B;
	box-shadow: 0px 0px 4px #040881;
}

.mainbody{
	margin: 30px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.myinfo{

	display: flex;
	
	margin-top: 100px;
	justify-content: space-around;
	

}
#profilepic{
	
	height: 300px;
	width:320px;
	border:1px solid grey;
	border-radius:50%;

}
.centerpart{
	background-color: #fff;
	width:600px;
	padding: 50px;	

}
.centerleftpart{
	display: flex;
	justify-content: center;
	
}
.contentcenterpart{
	color:#4a4a4a;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Roboto,sans-serif;
	
}

.centerpartlinks{
	
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	
	
}

.centerpartlinksinnerdiv{
	
	width:50%;
	display: flex;
	justify-content: space-around;
	

}

.centerpartlinksinnerdiv>a:hover{
	cursor:pointer;
}

tr.spaceintable > td
{
  padding-bottom: 1px;
  padding-top: 1px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    background-color:#fff;
}

tr > td
{
  padding-bottom: 1em;
}

.Education{

	margin-top: 100px;
	
}

.Educationinnerdiv{
	display: flex;
	justify-content: space-between;
}
.technicalskillsimages{
	display: flex;
	padding:10px;
	justify-content: space-around;
}

.ContactInfo{
	background-color: #4a4a4a;

}

.contactinfolinks{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contactinfolinks>a:hover{
	cursor: pointer;
}

#airhockeyimage{
	cursor: pointer;
}

#projectLinks{
	
	margin-left: 20px;
}

#projectLinks>ul{
	list-style-type: circle;
}

#projectLinks>ul>li{
	padding-top: 20px;
}
#projectLinks>ul>li>a{
	color:blue;
	text-decoration: none;
}
#projectLinks>ul>li>a:hover{
	color:green;
	cursor: pointer;
}
#projectLinks>ul>li>a:visited{
	color:#551A8B;
}
