* {
    font-family: verdana;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

a:hover {
    cursor: pointer;
}

.header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
}

.headerlinks {
    display: flex;
    justify-content: space-around;
}

.headerlinks a {
    text-decoration: none;
    padding: 10px;
    color: purple;
}

.headerlinks a:visited {
    text-decoration: none;
    color: purple;
}

.headerlinks a:hover {
    background-color: #555;
    color: orange;
    font-size: 104%;
    border: 1px solid #03089B;
    box-shadow: 0px 0px 4px #040881;
}

.mainbody {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.myinfo {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}

#profilepic {
    height: 330px;
    width: 280px;
    border-radius: 50%;
}

.centerpart {
    background-color: #fff;
    width: 600px;
    padding: 50px;
}

.centerleftpart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentcenterpart {
    color: #4a4a4a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
}

.contentcenterpartinnerdiv {
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
}

.contentcenterpartinnerdiv > h1 {
    font-size: 30px;
}

.contentcenterpartinnerdivpelements {
    font-size: 20px;
    font-weight: 400;
}

.centerpartlinks {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.centerpartlinksinnerdiv {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.centerpartlinksinnerdiv i {
    font-size: 40px;
}

tr.spaceintable > td {
    padding-bottom: 1px;
    padding-top: 1px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    background-color: #fff;
}

tr > td {
    padding-bottom: 1em;
}

.Education {
    margin-top: 100px;
}

.Educationheadingdiv,
.AdditionalInfoheadingdiv,
.SocietiesJoinedheadingdiv,
.ContactInfoheadingdiv,
.Skillsheadingdiv,
.Projectsheadingdiv {
    background-color: whitesmoke;
}

.Educationinnerdiv {
    display: flex;
    justify-content: space-between;
}

#einstein {
    height: 324px;
    width: 460px;
}

.technicalskillsimages {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

#gdgbvpimage,
#bvpcsiimage {
    height: 100px;
    width: 150px;
}

#bvpcsiimage {
    border-radius: 10px;
}

#nssimage {
    height: 120px;
    width: 150px;
}

.ContactInfo {
    background-color: #4a4a4a;
}

#Contactinfo_details {
    padding-left: 30px;
    color: white;
}

.contactinfolinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
}

#gmailimage,
#fbimage {
    height: 120px;
    width: 150px;
}

#linkedinimage {
    height: 100px;
    width: 150px;
}

#whatsappimage {
    height: 150px;
    width: 250px;
}

#airhockeyimage {
    height: 200px;
    width: 300px;
}

#projectLinks {
    margin-left: 20px;
}

#projectLinks>ul {
    list-style-type: circle;
}

#projectLinks>ul>li {
    padding-top: 20px;
}

#projectLinks>ul>li>a {
    color: blue;
    text-decoration: none;
}

#projectLinks>ul>li>a:visited {
    color: #551A8B;
}

#projectLinks>ul>li>a:hover {
    color: green;
}

.skill-bars_outerdiv {
    width: 300px;
}

.progressbar {
    width: 300px;
    background-color: #ddd;
    height: 10px;
    margin-top: 4px;
}

.progressbar_outerdiv {
    display: flex;
    justify-content: space-between;
}

.percentage2 {
    border-radius: 30%;
    border: 2px solid #313131;
    font-size: 14px;
}

#progressbar1_outerdiv,
#progressbar4_outerdiv,
#progressbar5_outerdiv,
#progressbar6_outerdiv,
#progressbar7_outerdiv,
#progressbar8_outerdiv,
#progressbar9_outerdiv {
    width: 90%;
}

#progressbar2_outerdiv,
#progressbar3_outerdiv {
    width: 95%;
}

#progressbar10_outerdiv{
	width: 70%;
}

#progressbar2_innerwidth1,
#progressbar2_innerwidth4,
#progressbar2_innerwidth5,
#progressbar2_innerwidth6,
#progressbar2_innerwidth7,
#progressbar2_innerwidth8,
#progressbar2_innerwidth9 {
    width: 90%;
}

#progressbar2_innerwidth2,
#progressbar2_innerwidth3 {
    width: 95%;
}

#progressbar2_innerwidth10{
	width: 70%;
}

.progressbar2 {
    height: 100%;
    background-color: #313131;
}

li {
    padding-top: 20px;
    list-style: none;
    font-family: sans-serif;
}

.Educationheadingdiv > h2,
#Projectsheading,
#Skillsheading,
#ContactInfoheading,
#AdditionalInfoheading,
#SocietiesJoinedheading {
    color: #4a4a4a;
    font-family: Roboto, sans-serif;
}
